<div class="page-wrapper-ur">
  
  <div class="sidebar-ur" style="width:30%;">
    <h6>Filter & Select</h6>
    {{ form.semester_dropdown }}
    {{ form.class_dropdown }}
    {{ form.result_type_dropdown }}
    {{ form.student_list_wrapper }}
    {{ form.test }}

  </div>
  
  <div class="content-ur" style="width:70%;">
    <h6>Enter Results</h6>
    {# {{ form.selected_student_display }}
    {{ form.result_entry_form }} #}
  </div>

</div>
